<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Preview Card</title>
</head>

<body>
    <div class="container">
        <article class="card" *ngFor="let car of cars;">
            <div class='background'>
                <img src={{car.image}} alt="{{car.brand + car.name}}}">
            </div>
            <div class='content'>
                <div class="card-header">
                    <div class="card-type">
                        {{car.brand}} <!-- here the brand should be nice-->
                    </div>
                    <!--
                    <div class="latest-article">
                        Latest Article
                    </div>-->
                </div>
                <div class="card-content">
                    <h2>{{car.brand + " " + car.name + " " + car.year}}</h2>
                    <p>
                        {{car.description}}
                        El vehiculo ha recorrido {{car.kms + " kms" }}<br>
                        Su precio es de tan solo <b>{{"$" + " " + car.price + " dolares"}}<br></b>
                        Esta ubicado en {{car.location.neighborhood + ", " + car.location.locality}}
                    </p>
                </div>
                <div class="blog-preview__bottom">
                    <div class="blog-author">
                        <img src={{car.owner.image}} alt="Avatar">
                        <div class="blog-author__name">
                            <div class="blog-author__name">
                                {{car.owner.name}}
                            </div>
                            <a rel="author" href="mailto:david@atheros.ai" class="blog-author__alias">
                            </a>
                        </div>
                    </div>
                    <a class="go-to-article-button" href="/my-blog" title="New Blog">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right"
                            width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M15 16l4 -4" />
                            <path d="M15 8l4 4" />
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
</body>

</html>